<div class="c-masthead u-padding">
  <div class="o-container--narrow">
    <div class="o-flex o-flex--center">
      <div class="c-masthead__logo">
        {{>logo}}
      </div>
    </div>
    <h1 class="c-masthead__heading"><div class="c-masthead__event">Code of conduct</div></h1>
  </div>
</div>

<div class="u-padding-horizontal">
  <div class="o-container--narrow u-padding-bottom">
    <p>All attendees, speakers and volunteers at our workshop are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We expect cooperation from all participants to help ensure a safe environment for everybody.</p>
    <h2>Introduction</h2>
    <p>Please treat each other with respect. Make new friends. Learn new things. Be kind to each other.</p>
    <p>If you are being harassed, notice anyone else being harassed, or have any other concerns, please contact us.</p>
    <h2>Our code of conduct</h2>
    <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
    <p>Participants asked to stop any harassing behaviour are expected to comply immediately.</p>
    <p>Volunteers should not use sexualised clothing, or otherwise create a sexualised environment.</p>
    <p>If a participant engages in harassing behaviour, the workshop organisers may take any action they deem appropriate, including warning the offender or expulsion from the workshop with no refund.</p>
    <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the workshop staff immediately. Workshop staff can be identified as they&rsquo;ll be wearing branded clothing and/or badges.</p>
    <p>Workshop staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the workshop. We value your attendance.</p>
    <p class="u-margin-bottom-double">We expect participants to follow these rules at workshop venues and workshop-related social events.</p>
    <p><small>Original source and credit: <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a></small>.</p>
    <p><small>This code of conduct is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</small></p>
  </div>
</div>
