<div class="c-masthead u-padding">
  <div class="o-container">
    <div class="o-flex o-flex--center">
      <div class="c-masthead__logo">
        {{>logo}}
      </div>
      <div class="c-masthead__presents"><em>presents</em></div>
    </div>
    <h1 class="c-masthead__heading">Harry Roberts&rsquor; <div class="c-masthead__event">Front-end Performance</div></h1>
    <p class="c-masthead__intro">An intensive, all day masterclass to help developers deliver websites to users in record times.</p>
  </div>
</div>

{{>info}}

<div class="u-padding-horizontal">
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__primary">
        <h2>The workshop</h2>
        <p>Performance is big business. Every case study out there tells us that users hate slow experiences, and that faster experiences generate more conversions: more conversions means more money. But, in the age of diversifying audiences on a variety of unknown connections, the mobile boom meaning more people on sub-standard networks, and the web&rsquor;s serious bloat problem, general performance experiences are pretty bad.</p>
        <p>In this workshop, we&rsquor;ll take an in-depth look at</p>
        <ul class="c-tick-list">
          <li class="c-tick-list__item">how the network really works, and how to design around it;</li>
          <li class="c-tick-list__item">how to keep websites fast whilst keeping clients and stakeholders happy;</li>
          <li class="c-tick-list__item">how to optimise our assets for faster delivery;</li>
          <li class="c-tick-list__item">how to trick the browser into delivering assets with different priorities;</li>
          <li class="c-tick-list__item">how to measure and profile performance wins and losses;</li>
          <li class="c-tick-list__item">a whole host of tips, tricks, and techniques to help us deliver the same experiences in record times;</li>
          <li class="c-tick-list__item">a bunch of fascinating little factoids and trivia which help shine a light on what&rsquor;s really going on under the hood;</li>
          <li class="c-tick-list__item">lots of naughty little micro-optimisations, just for fun;</li>
          <li class="c-tick-list__item">and a lot, lot more.</li>
        </ul>
        <p>This workshop is targeted at intermediate to advanced front-end developers, web designers, and software engineers, or anybody who writes code. There will be resources and case studies for you to take back to non-technical stakeholders to help convince them of the power of performance.</p>

        <h2>The day</h2>
        <p>The workshop will take place in <a href="https://www.google.co.uk/maps/place/The+Shed/@53.471378,-2.2435804,17z">The Shed</a>, the home of Digital Innovation at Manchester Metropolitan University, in the centre of Manchester.<p>
        <p>The running order will be:</p>
        <ul>
          <li>09:00 - Registration (with tea, coffee and pastries)</li>
          <li>09:30 - Workshop begins</li>
          <li>11:00 - Break (with tea, coffee and biscuits)</li>
          <li>13:00 - Lunch (provided)</li>
          <li>14:00 - Workshop continues</li>
          <li>15:30 - Break (with tea, coffee and doughnuts)</li>
          <li>17:30 - Workshop concludes</li>
          <li>17:45 - Post workshop drinks (provided, up to a point)</li>
        </ul>
        <p>You will need a laptop, and something for making a lot of notes.</p>
        <p>You will be expected to comply with our <a href="/code-of-conduct">code of conduct</a>.</p>

        <h2>The Graaft concept</h2>
        <p>Workshops presented by Graaft bring undergraduate students and professionals together for a day of learning and networking.</p>
        <p>For most students, the cost of attending a workshop like this is prohibitively expensive. Graaft works with Universities to provide the venue, therefore reducing the cost of putting on the workshop. In return, students benefit from subsidised places and spending a day working with industry professionals.</p>
        <p>For each professional ticket we sell, a student at the host Universty is given a free place at the workshop.</p>
        <p>Graaft is not-for-profit, so everyone benefits from great value, professional workshops.</p>
      </div>
      <div class="o-grid__gap"></div>
      <div class="o-grid__secondary">
        <div class="c-speaker">
          <div class="u-padding">
            <img src="/images/harry.jpg" alt="" class="c-speaker__img" />
            <h2 class="c-speaker__name">Harry Roberts</h2>
            <h3>Consultant Front-end Architect</h3>
            <p>With a client list including Google, Unilever, and the United Nations, Harry is an award-winning consultant front-end architect who helps organisations and teams across the globe to plan, build, and maintain product-scale UIs.</p>
            <p>A Google Developer Expert, he writes on the subjects of CSS architecture, performance, and scalability at <a href="https://csswizardry.com/">csswizardry.com</a>; develops and maintains <a href="https://github.com/inuitcss/inuitcss">inuitcss</a>; authored <a href="https://cssguidelin.es/">CSS Guidelines</a>; and tweets at <a href="https://twitter.com/csswizardry">@csswizardry</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>info}}

<div class="u-padding-horizontal">
  <div class="o-container c-footer">
    <p>Graaft workshops are organised and run by <a class="c-footer__link" href="https://darrenhall.co/">Darren Hall</a>, a freelance front-end developer based in Manchester.</p>
    <ul class="o-flex c-footer__list">
      <li class="c-footer__item"><a class="c-footer__link" href="/code-of-conduct">Code of conduct</a></li>
      <li class="c-footer__item"><a class="c-footer__link" href="/terms">Terms</a></li>
      <li class="c-footer__item"><a class="c-footer__link" href="mailto:info@graaft.co">Contact</a></li>
    </ul>
  </div>
</div>
