.c-info {
  background-color: get-color(info-bg);
  margin: get-size(gutter) 0;
}

  .c-info__item {
    font-weight: 800;
    line-height: 1.2;

    @include respond-min(info-horizontal) {
      & + & {
        margin-left: get-size(gutter) / 2;
      }

      &:first-child {
        flex-basis: 65%;
      }

      &:last-child {
        margin-left: auto;
      }
    }

    @include respond-min(info-single-line) {
      &:first-child {
        flex-basis: auto;
      }
    }

    @include respond-min(extra-padding) {
      & + & {
        margin-left: get-size(gutter);
      }

      &:last-child {
        margin-left: auto;
      }
    }
  }

  .c-info__link {
    background-color: get-color(body-bg);
    color: get-color(info-link);
    display: inline-block;
    margin-left: -#{get-size(gutter) / 2};
    text-decoration: none;
    transition: color 0.25s, background-color 0.25s;

    @include respond-min(info-horizontal) {
      display: block;
      margin-left: 0;
    }

    &:hover {
      background-color: get-color(info-link);
      color: get-color(body-bg);
    }
  }

  .c-info__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  .c-info__location {
    display: inline-block;
    font-weight: 300;

    @include respond-min(450px) {
      padding-left: get-size(gutter) / 2;
    }

    @include respond-min(info-horizontal) {
      display: block;
      padding-left: 0;
    }

    @include respond-min(info-single-line) {
      display: inline-block;
      padding-left: get-size(gutter) * 0.333333;
    }

    @include respond-min(extra-padding) {
      padding-left: get-size(gutter) * 0.85;
    }
  }
  .c-info__normal {
    font-weight: 300;
  }
