.c-footer {
  color: get-color(footer-copy);
  padding-bottom: get-size(gutter);
  margin-top: get-size(gutter);
}

.c-footer__item {
  & + & {
    margin-left: get-size(gutter) / 3;

    &:before {
      content: '|';
      margin-right: get-size(gutter) / 3;
    }
  }
}

.c-footer__link {
  color: inherit;
  border-bottom: 1px solid get-color(footer-copy);
  text-decoration: none;
  transition: color 0.25s;

  &:hover {
    border-bottom-color: get-color(link-highlight);
    color: get-color(link-highlight);
  }
}

.c-footer__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
