.o-grid {
  @include respond-min(two-column) {
    display: grid;
    grid-template-columns: 1fr get-size(gutter) 2fr;
  }
}

.o-grid__gap {
  @include respond-min(two-column) {
    grid-column-start: 2;
  }
}

.o-grid__primary {
  @include respond-min(two-column) {
    grid-column-start: 3;
    grid-row-start: 1;
  }
}

.o-grid__secondary {
  @include respond-min(two-column) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
