.o-grid {
  display: grid;
  grid-column-gap: get-size(gutter);
  grid-template-columns: 1fr;

  @include respond-min(two-column) {
    grid-template-columns: 1fr 2fr;
  }
}

.o-grid__primary {
  @include respond-min(two-column) {
    grid-column-start: 2;
  }
}

.o-grid__secondary {
  @include respond-min(two-column) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
