<div class="c-info">
  <div class="o-container">
    <ul class="c-info__list o-flex">
      <li class="c-info__item">29<sup>th</sup> November</li>
      <li class="c-info__item"><span class="c-info__normal">The Shed, Manchester</span></li>
      <li class="c-info__item">£250 <span class="c-info__normal">+VAT</span></li>
      <li class="c-info__item"><a class="c-info__link" href="#">Buy tickets</a></li>
    </ul>
  </div>
</div>
