<div class="c-info u-padding-horizontal">
  <div class="o-container">
    <ul class="c-info__list o-flex@info-horizontal u-padding-vertical u-padding-none@info-horizontal">
      <li class="c-info__item u-padding-vertical@info-horizontal">29<sup>th</sup> November <span class="c-info__location">The Shed, Manchester</span></li>
      <li class="c-info__item u-padding-vertical">£250 <span class="c-info__normal">+VAT</span></li>
      <li class="c-info__item"><a class="c-info__link u-padding" href="https://ti.to/graaft/harry-roberts-front-end-performance">Buy tickets</a></li>
    </ul>
  </div>
</div>
